# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the 
# most precedence.

# Primary repo maintainers
*       @yoongbok-lee @xiumingdou @kevin-yuhh @haozhan9 @zheng-bin

