# OS
.DS_Store
*.swp
*.swo
cscope.*

# Build
build
vendor
__pycache__
*.pyc

# Generated binaries & files
shentud
!app/shentud

# Test
coverage.out
launch/localnet
custom

# IDE
.idea/
.vscode
*.iml
debug.test

# E2E
e2e/data/*_out.json
